* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "main";
    src: url(assets/fonts/Montserrat-VariableFont.ttf);
}

:root{
    --fg-color: hsl(0, 0%, 94%);
    --muted-color: hsl(0, 0%, 76%);
    --fg-color-transparent: rgba(240, 240, 240, 0.08);
    --accent-color: hsl(285, 70%, 68%);
    --accent-color-muted: hsl(285, 62%, 60%);
    --accent-color-transparent: rgba(202, 116, 231, 0.08);
    --special-color: rgb(17, 17, 17);
    --special-color-transparent: rgba(17, 17, 17, 0.18);
}

html{
    scroll-behavior: smooth;
}

body{
    font-weight: normal;
    font-size: 1.2rem;

    padding-top: 1.5rem;

    font-family: "main", sans-serif;
    color: var(--fg-color);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    font-weight: bolder;
    font-size: 4rem;

    margin-top: 4rem;
}

a{
    color: var(--accent-color);
    text-decoration: none;
}

iframe {
    aspect-ratio: 16 / 9;
    height: auto;
    border-radius: 25px;
}

img{
    height: auto;
    border-radius: 8px;
}

header{
    margin-left: 1.3rem;
}

a:hover{
    text-decoration: underline dotted;
}

.index{
    background-image: url(assets/images/GreenLeaves.webp);

    opacity: 1;

    transition: background-color 0.4s ease, opacity 0.2s ease;
}

.index:has(.special:hover){
    opacity: 0;

    background-color: black;
}

.lucid{
    background-image: url(assets/images/BlueMountains.webp);
}

.art{
    background-image: url(assets/images/Stars.webp);
    
    background-color: black;

    opacity: 0;

    transition: background-color 0.8s ease-in-out, opacity 0.2s ease-in-out;
}

.art:hover{
    background-color: white;
    opacity: 1;
}

.not_found{
    background-image: url(assets/images/BlueScales.webp);
}

.forbidden{
    background-image: url(assets/images/WhiteFlowers.webp);
}

.total-container{
    padding: 1.5rem;
}

.container{
    display: flex;
    justify-content: space-between;
}

.card-list{
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
    margin-top: 3rem;
}

.card{
    border-color: var(--muted-color);
    border-radius: 4px 25px 25px 25px;
    border-style: solid;

    background-color: var(--fg-color-transparent);
    backdrop-filter: saturate(160%) blur(4px);
    -webkit-backdrop-filter: saturate(160%) blur(8px);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 24px 56px rgba(4,10,16,.34);

    padding: 1.5rem;
    margin: 1rem;

    width: fit-content;
}

.link{
    border-color: var(--accent-color-muted);
    background-color: var(--accent-color-transparent);

    transition: transform 0.15s ease;
}

.link:hover{
    transform: translateX(6px);
}

.special{
    border-color: var(--special-color);
    background-color: var(--special-color-transparent);

    transition: transform 0.15s ease;
}

.special:hover{
    transform: translateX(-6px);
}

.right{
    border-radius: 25px 4px 25px 25px;
}

.meme-img{
    width: 300px;
}

.normal-text{
    color: var(--fg-color);
    text-decoration: none;
}